img{
    width: 100%;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}
h1 span{
    color: #ffa422;
    font-size: 50px;
}

.about-btn{
    color: white;
    font-size: 20px;
}

.main-h{
    color: #CF851C;
    font-size: 3rem;
}

.heading{
    font-size: 30px;
    font-style: italic;
}

.details{
    font-size: 1.3rem;
}

.fls{
    padding-bottom: 90px;
}